@charset "UTF-8";
// ===============================================
// [ファイル概要] 採用情報
// ===============================================
@use "sass:math";
@use "../define/" as *;

.c-recruit__lead{
  margin-block-start: my_rem(32px);
  text-align: center;
  line-height: 1.5;
  letter-spacing: .02em;
  font-weight: var(--font-black);
  font-size: my_rem(30px);
  color: var(--brown);
  @media (--tablet) {
    margin-block-start: my_rem(32px);
    font-size: my_rem(40px);
  }
}

.c-recruit__text{
  margin-block-start: my_rem(85px);
  text-align: center;
  line-height: 1.7;
  letter-spacing: .05em;
  font-size: my_rem(13px);
  color: var(--brown);
  @media (--tablet) {
    margin-block-start: my_rem(85px);
    font-size: my_rem(13px);
  }
}


.c-recruit__image{
  position: absolute;
  z-index: 1;
}



.c-recruitCards {
  margin-block-start: my_rem(114px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: my_rem(40px);
}

.c-recruitCards__item {
  position: relative;
  background: #fff;
  padding: my_rem(30px);
}

/* 下の吹き出し */
.c-recruitCards__item::after {
  content: "";
  position: absolute;
  bottom: my_rem(-25px);

  width: my_rem(25px);
  height: my_rem(25px);
  background: #fff;
}

/* 左：右下向き */
.c-recruitCards__item:nth-child(1)::after {
  left: 75%;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
}

/* 真ん中：真下 */
.c-recruitCards__item:nth-child(2)::after {
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}

/* 右：左下向き */
.c-recruitCards__item:nth-child(3)::after {
  left: 25%;
  clip-path: polygon(0 0, 100% 0, 0 100%);
}


.c-recruitCards__title {
  font-size: my_rem(24px);
  font-weight: var(--font-black);
  color: var(--brown);
}

.c-recruitCards__sub {
  margin-top: 30px;

  font-size: my_rem(16px);
  color: var(--brown);
}

.c-recruitCards__text {
  margin-block: my_rem(20px);

  line-height: 2;
  font-size: my_rem(13px);
  color: var(--brown);
}

.c-entry__subtitle{
  margin-block-start: my_rem(66px);
  text-align: center;
  line-height: math.div(24,16);
  font-size: my_rem(16px);
  color: var(--brown);
}

.c-entry__text{
  margin-block: my_rem(30px);
  text-align: center;
  line-height: math.div(23,13);
  font-size: my_rem(13px);
  color: var(--brown);
}
