//- ====================
//- 【概要】 トップ 施工事例
//- 【詳細】
//- ====================
mixin works( )
  include ./common/_title.pug
  include ./common/_card.pug

  section.c-section(class="pt-[6.25rem] tablet:pt-[6.625rem]")
    div(class="absolute bottom-[-11.563rem] left-[50%] -translate-x-1/2 rotate-[7deg] z-10 w-full tablet:bottom-[-8.438rem]")
      ul.c-autoSlider._reverse_
        li
          img.c-labelImage(src=`${dirPath}assets/images/common/label_pink.webp`, alt="Sauna Pro Team RUSH", width=`1363`, height=`30`, decoding=`async`, loading=`lazy`)
        li
          img.c-labelImage(src=`${dirPath}assets/images/common/label_pink.webp`, alt="Sauna Pro Team RUSH", width=`1363`, height=`30`, decoding=`async`, loading=`lazy`)
        li
          img.c-labelImage(src=`${dirPath}assets/images/common/label_pink.webp`, alt="Sauna Pro Team RUSH", width=`1363`, height=`30`, decoding=`async`, loading=`lazy`)
        li
          img.c-labelImage(src=`${dirPath}assets/images/common/label_pink.webp`, alt="Sauna Pro Team RUSH", width=`1363`, height=`30`, decoding=`async`, loading=`lazy`)

    .c-section__inner._small_
      +title({
        main: 'サウナ施工事例',
        sub: 'sauna projects',
        className: '_pcLeft_'
      })
      ul(class="mt-[3.125rem] pl-[1.875rem] pr-[4.688rem] grid gap-[5rem] tablet:grid-cols-3 tablet:gap-x-[5rem] tablet:gap-y-[4.688rem] tablet:mt-[3.75rem] tablet:px-0")
        li
          +card({
            category: 'サウナ施工／サウナ設計',
            tag: '旅館・ホテル',
            title: '城崎温泉 緑風閣 「玄武サウナ」'
          })
        li
          +card({
            category: 'サウナ施工／サウナ設計',
            tag: '旅館・ホテル',
            title: '城崎温泉 緑風閣 「玄武サウナ」'
          })
        li
          +card({
            category: 'サウナ施工／サウナ設計',
            tag: '旅館・ホテル',
            title: '城崎温泉 緑風閣 「玄武サウナ」'
          })
        li
          +card({
            category: 'サウナ施工／サウナ設計',
            tag: '旅館・ホテル',
            title: '城崎温泉 緑風閣 「玄武サウナ」'
          })
        li
          +card({
            category: 'サウナ施工／サウナ設計',
            tag: '旅館・ホテル',
            title: '城崎温泉 緑風閣 「玄武サウナ」'
          })
        li
          +card({
            category: 'サウナ施工／サウナ設計',
            tag: '旅館・ホテル',
            title: '城崎温泉 緑風閣 「玄武サウナ」'
          })

