@charset "UTF-8";
// ===============================================
// [ファイル概要] 色
// ===============================================
@use "sass:math";
@use "../../define/" as *;

:root {
  --black-1: #000000;
  --black-2: #313131;
  --white: #ffffff;
  --beige: #DED8D0;
  --brown: #724832;
}
